/*===============================DEFAULT=================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--bs-dark);
    text-decoration: none;
}

a:hover {
    color: #039a3b;
    text-decoration: none;
    cursor: pointer;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

ol,
ul,
dl {
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

body {
    font-family: "Muli", sans-serif;
    color: #333;
    letter-spacing: 0.25px;
    line-height: 1.7;
    font-size: 14px;
}

button,
button:focus {
    border: none;
    outline: none;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 0;
}


/*===============================USEABLE==============================*/

section {
    margin-top: 20px;
    padding-top: 40px;
}

.product-page section {
    margin-top: 20px;
    padding-top: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.realative {
    position: relative;
}

.title-text h2,
.title-text h3 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 3px solid #ddd;
    font-size: 17px;
    font-weight: 400;
    padding-left: 45px;
    background: url(../medias/icon-title.png) no-repeat scroll 0 0;
}

.row {
    margin-left: 0;
}

.title-text h2::after,
.title-text h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 150px;
    left: 0;
    bottom: -3px;
    background-color: #039a3b;
}

.btn-slide-left,
.btn-slide-right {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 5px;
}

.btn-slide-left {
    left: 0px;
}

.btn-slide-right {
    right: 0px;
}

.hidden {
    position: relative;
}

.flex-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fixed-right,
.fixed-left {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 50px;
    text-align: center;
    top: 50%;
    transform: translateY(-25px);
}

.fixed-right {
    right: 5px;
    text-align: center;
}

.fixed-right a img {
    margin-bottom: 10px;
    border-radius: 100px;
    width: 40px;
    background-color: #039a3b;
}

a.fixed-right--call img {
    padding: 5px;
    animation: ring 3s linear infinite;
}

.fixed-left {
    left: 5px;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }
    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }
    1% {
        -moz-transform: rotate(30deg);
    }
    3% {
        -moz-transform: rotate(-28deg);
    }
    5% {
        -moz-transform: rotate(34deg);
    }
    7% {
        -moz-transform: rotate(-32deg);
    }
    9% {
        -moz-transform: rotate(30deg);
    }
    11% {
        -moz-transform: rotate(-28deg);
    }
    13% {
        -moz-transform: rotate(26deg);
    }
    15% {
        -moz-transform: rotate(-24deg);
    }
    17% {
        -moz-transform: rotate(22deg);
    }
    19% {
        -moz-transform: rotate(-20deg);
    }
    21% {
        -moz-transform: rotate(18deg);
    }
    23% {
        -moz-transform: rotate(-16deg);
    }
    25% {
        -moz-transform: rotate(14deg);
    }
    27% {
        -moz-transform: rotate(-12deg);
    }
    29% {
        -moz-transform: rotate(10deg);
    }
    31% {
        -moz-transform: rotate(-8deg);
    }
    33% {
        -moz-transform: rotate(6deg);
    }
    35% {
        -moz-transform: rotate(-4deg);
    }
    37% {
        -moz-transform: rotate(2deg);
    }
    39% {
        -moz-transform: rotate(-1deg);
    }
    41% {
        -moz-transform: rotate(1deg);
    }
    43% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}


/* ,
.hidden-mb,
.hidden-tb,
.hidden-lg */

.col-mg-lf {
    margin-left: 8.33333333%
}

.hidden,
.hidden-lg {
    display: none;
}

.vertical-tiles-bf::before {
    content: "|";
    display: inline-block;
    color: #039a3b;
    margin: 0 15px;
}

.fa {
    color: #039a3b;
}

.hover-next {
    cursor: pointer;
    display: inline-block;
}

.hover-next:hover .hover-next-target {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 10;
    transform: translateX(-80%);
}

.hover-next-target {
    position: relative;
}

.nav {
    position: relative;
}

.nav-scale {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    text-align: left;
    z-index: 9;
}

.nav-scale.active {
    display: flex;
    max-height: 250px;
    overflow-y: scroll;
    box-shadow: 0px 0px 2px 1px;
}

.nav_link--slide.active {
    display: block;
}

.main-nav .nav-scale .nav_link--slide a {
    padding-left: 20px;
}

.main-nav.fixed-top .nav-scale.active {
    top: 60px;
}

.nav-scale .nav_link--slide {
    position: relative;
    width: 100%;
    background-color: transparent;
}

.nav-scale .nav_link {
    line-height: 40px;
}

.nav-scale a,
.nav-scale.container .nav_link--slide a {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.nav-scale a:last-child,
.nav-scale.container .nav_link--slide a:last-child {
    border: none;
    line-height: calc(100%+1px);
}

.nav-scale a.current-page,
.nav-scale.container .nav_link--slide a.current-page {
    color: #9edbb5;
}

.nav-scale a {
    color: #000;
    font-size: 13px;
}

.nav-scale a:hover {
    color: #9edbb5;
}

.nav-scale.container .nav_link--slide a {
    color: #555;
    line-height: 30px;
}

.nav-scale .fa-angle-down {
    border-radius: 5px;
    position: absolute;
    width: 60px;
    height: 30px;
    top: 5px;
    right: 10px;
    text-align: center;
}

.hover-next::before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 20px;
    right: -15px;
    width: 60px;
    background: transparent;
    height: 10px;
}

.nav_link {
    font-weight: 500;
    line-height: 50px;
    font-size: 16px;
    padding: 0 10px;
    position: relative;
}

.nav .nav_link {
    color: #fff;
    text-transform: uppercase;
}

.slide_down-icon {
    font-weight: 1;
    font-family: "FontAwesome";
}

.nav_link-content {
    display: none;
}

.nav_link-content.active {
    display: block;
}


/*===============================HEADER=================================*/

.header {
    text-align: center;
}

.scroll-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #039a3b;
}

.scroll-to-top .fa-level-up {
    margin-top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.header_topbar {
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    background-color: #3e3e3e;
    color: #fff;
}

.header_topbar .container {
    height: 30px;
}

.header_topbar .container>* {
    align-self: center;
}

.logo img {
    margin: auto;
}

.header_topbar a {
    color: #fff;
}

.header_middle {
    position: relative;
}

.header_main {
    padding-top: 6px;
    display: inline-block;
    width: 100%;
}

.header_banner {
    display: inline-block;
}

.header_banner img {
    max-height: 70px;
}

.box-right {
    margin-top: 12px;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.box-right .col-auto {
    align-self: center;
}

.header_search input {
    padding-left: 50px;
    line-height: 40px;
    background: #f5f5f5;
    border: none;
    outline: none;
}

.header_search .btn {
    position: absolute;
    left: 0px;
    top: 1px;
}

.header_search .btn i {
    color: #666;
}

.header-cart-icon {
    position: relative;
}

.header-cart {
    background: #f5f5f5;
    padding: 10px;
    border: none;
    width: 300px;
    max-height: 582px;
}

.header-cart-count {
    background-color: #039a3b;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    left: 14px;
    border-radius: 50px;
}

.header-cart-content {
    max-height: 260px;
    overflow-y: scroll;
}

.header-cart-content::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(218, 215, 215);
}

.header-cart-content::-webkit-scrollbar-thumb {
    background: #039a3b;
    border-radius: 40px;
}

.header-cart-content .item-image {
    width: 25%;
}

.header-cart-content .item-info {
    width: 75%;
}

.header-cart-content .item-name {
    width: 80%;
    display: inline-block;
    text-align: left;
}

.header-cart-content .item-remove {
    width: 20%;
    display: inline-block;
}

.header-cart-content .number-products {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-cart-footer {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(107, 102, 102);
}

.header-cart-footer .btn {
    color: #fff;
    background-color: #039a3b;
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 0;
}

.header-user {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    min-width: 140px;
    background: #f5f5f5;
}

.header-user li {
    margin: 0;
}

.header-cart p {
    text-align: center;
}

.nav_link--slide {
    width: max-content;
    position: absolute;
    display: none;
    z-index: 5;
    text-align: left;
    box-shadow: 0px 0px 16px -3px #999;
}

ul.nav_link--slide {
    background: #039a3b;
}

.nav .nav_link--slide li {
    height: max-content;
    margin: 0;
    padding: 0;
    line-height: 40px;
    width: 250px;
}

ul.nav_link--slide li a {
    padding-left: 30px;
    position: relative;
}

ul.nav_link--slide li a::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 15px;
    background: url("../medias/icon-menu.png") no-repeat scroll 0 0;
}

ul.nav_link--slide li+li {
    border-top: 1px dashed #fff;
}

ul.nav_link--slide li a {
    color: #fff;
}

ul.nav_link--slide li:hover {}

.nav_link--slide.container {
    padding: 10px 25px;
    display: none;
    min-height: 250px;
    left: 0;
    border: 2px solid #039a3b;
    border-top: none;
    background: #fff url(../medias/bg_cosovatchat.png);
}

.nav_link--slide .container {
    display: flex;
    flex-wrap: wrap;
}

.nav_link--slide .container li {
    padding: 10px 15px;
    width: 100%;
}

.nav_link--slide a {
    color: #039a3b;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.nav_link--slide .col-3 {
    height: 40px;
}

.nav-item .nav_link--slide .col-3 a:hover {
    opacity: .7;
    color: #039a3b;
}

.nav_link--slide:not(.container) {
    animation: slide-up .2s linear;
}

.nav_link--slide:not(.container) li:hover {
    background: #00792d;
}

.nav_link--slide:not(.container) li a {
    color: #fff;
}

.nav-item:hover .nav_link--slide {
    display: block;
}

.nav_link--slide.container a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.nav_link--slide a {
    text-transform: none;
}

@keyframes slide-up {
    from {
        top: 80px;
    }
    to {
        top: 50px;
    }
}

.nav a i {
    color: #fff;
    font-weight: 510;
}

.nav a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.nav a:hover i {
    color: rgba(255, 255, 255, 0.5);
}

.main-nav {
    background-color: #039a3b;
}

.main-nav .fixed-top {
    width: 100%;
}


/*================================SECTION BREADCRUMB===========================*/

.crumb {
    margin-top: 10px;
    margin-bottom: 20px;
}

.breadcrumb {
    position: relative;
    padding-left: 30px;
}

.breadcrumb a {
    color: #039a3b;
}

.breadcrumb a:hover {
    color: black;
}

.breadcrumb::before {
    content: "";
    display: block;
    background-color: #00792d;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f105";
    font-family: FontAwesome;
}

.title-page {
    text-transform: uppercase;
    color: #464646;
    font-weight: 600;
    font-size: 24px;
}

.page-item a {
    color: #333;
}

.page-item.active .page-link {
    color: #fff;
    cursor: no-drop;
    background-color: #039a3b;
}

.filter-card .item-product {
    margin-top: 10px;
}

.filter-card .item-product .item-info {
    width: 70%;
}

.filter-card .item-name {
    line-height: 18px;
    font-weight: 600;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-card .item-product img {
    width: 100%;
}

.filter-card .item-product .item-image {
    width: 30%;
}


/*-------------------------------PRODUCTS-WEB---------------------------------*/

.filter-card-list {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 10px;
}

.filter-card-list .nav_link--slide {
    box-shadow: none;
    line-height: 40px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.filter-card-list a {
    color: #0f0f0f;
    padding-left: 20px;
    font-weight: 400;
}

.product-sort {
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.filter-mb {
    display: none;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: #039a3b;
    padding: 9px;
    z-index: 1001;
}

.filter-mb i {
    color: #fff;
}

.product-sort .btn {
    border-radius: 5px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    background: #fff;
}

.product-sort .btn.active {
    background-color: #039a3b;
}

.product-sort .btn.active i {
    color: #fff;
}

.select-sort .nav_link.slide {
    display: inline-block;
    width: 200px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(129, 127, 127, 0.308);
}

.select-sort .nav_link.slide i {
    margin-left: 5px;
}

.select-sort .nav_link-content {
    z-index: 1;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top: 47px;
    right: 25px;
    width: 200px;
}

.nav_link-content:hover {
    display: flex;
}

.select-sort .nav_link-content a {
    padding: 0 10px;
    line-height: 40px;
    border: 1px solid rgba(129, 127, 127, 0.541);
}

.select-sort .nav_link.slide:hover+.nav_link-content {
    display: flex;
}

.label-select-sort {
    display: inline-block;
    line-height: 40px;
}

.main-content-container .product {
    width: 100%;
}

.filter.col-3 {
    padding-left: 0;
}

.filter-card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 30px;
}

.price-filter {
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow-y: scroll;
}

.price-filter::-webkit-scrollbar {
    width: 4px;
}

.price-filter::-webkit-scrollbar-track {
    background-color: #666;
}

.price-filter::-webkit-scrollbar-thumb {
    border-radius: 10;
    background-color: #039a3b;
}

.price-filter input {
    margin-right: 10px;
    height: 10px;
}

.selected-nav {
    line-height: 40px;
    height: 40px;
}

.filter-card-list .selected .nav_link {
    font-size: 13px;
    color: #666;
}

.selected .nav_link i {
    color: red;
    margin-right: 10px;
}

.selected-nav .left {
    color: blue;
    font-size: 17px;
    font-weight: 700;
}

.selected-nav .left i {
    color: blue;
    font-weight: 900;
}

.price-filter a {
    color: #888;
}

.filter-card .selected {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-card--title {
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    background-color: #039a3b;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    padding: 10px;
}

.filter-card .nav-scale a {
    font-size: 14px;
}

.filter-card .nav_link {
    padding: 0;
}


/* .filter_table {
    transition: all .5s ease;
    animation: forwards 1s linear;
} */

.card {
    margin-bottom: 20px;
}

.card .more-detail {
    display: none;
}

.card.col-12 {
    flex-direction: row;
}

.card.col-12 button {
    display: block;
    width: 45px;
    top: 150px;
    left: calc(100%);
}

.card.col-12 .quick-view {
    left: calc(100% + 50px);
}

.card.col-12 .card-title h3 {
    font-size: 17px;
    font-weight: 700;
}

.card.col-12 .more-detail {
    display: block;
}

.page-item {
    margin-left: 5px;
}

.image-swiching {
    display: flex;
    z-index: 0;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
}

.img-swich-item {
    text-align: center;
    height: 72px;
    width: 100px;
    border: 1px solid #039a3b;
}

.img-swich-item img {
    height: 70px;
}


/*-------------------------------------DETAIL---------------------------*/

.detail-product {
    display: flex;
}

.detail-head {
    max-height: 500px;
}

.detail-head img {
    max-height: 350px;
    max-width: 350px;
}

.zoomWrapper {
    margin: auto;
}

.detail-head a {}

.detail-body {
    margin-top: 20px;
}

.detail-body .cost {
    display: block;
    font-size: 30px;
    margin: 15px 0;
}

.detail-body .number-products {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 15px;
    width: 140px;
}

.detail-body button,
.detail-body input,
.detail-body .btn {
    height: 40px;
    margin-top: 0;
}

.detail-body .add-number {
    width: 40px;
    border-radius: 50px 0 0 50px;
}

.detail-body .sub-number {
    width: 40px;
    border-radius: 0 50px 50px 0;
}

.detail-body input {
    margin: 0 -10px;
    width: 60px;
}

.detail-body .btn {
    position: absolute;
    left: 150px;
    height: 35px;
    min-width: 150px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.detail-body .btn:hover {
    color: #fff;
    background: #000;
}

.nav-tabs {
    line-height: 47px;
    border-bottom: none;
}

.nav-tabs li {
    margin-bottom: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 700;
}

.nav-tabs li a.active,
.nav-tabs li a:hover {
    border-color: #fff;
    color: #fff;
    background-color: #039a3b;
}

.tab-content {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rating-header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: block;
    position: relative;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.03);
}

.rating-header .nav-tabs li a {
    font-weight: 500;
    text-transform: unset;
    height: 30px;
    padding: 10px;
    margin-left: 10px;
}

.rating-header .nav-tabs li a.active {
    background-color: #fff;
    color: #039a3b;
    border: 1px solid#039a3b;
}

.star-by-number {
    font-size: 30px;
    color: #039a3b;
}

.star-rate {
    font-size: 20px;
    align-self: center;
}

.rating-filter .nav-tabs {
    line-height: 40px;
    position: absolute;
    top: 30px;
}

.rate-info,
.comment-head,
.comment-feedback,
.rate-btn {
    display: flex;
    flex-direction: row;
}

.rating-averaged .btn {
    min-width: 200px;
    text-align: center;
}

.rating-averaged .btn:hover {
    color: #fff;
}

.rating-averaged .btn i {
    color: #fff;
}

.rate-btn {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rate-btn .btn {
    margin: 5px;
}

.rating-filter-mb {
    display: none;
}

.popup-rate-creating {
    border-radius: 5px;
    z-index: 2;
    background-color: #fff;
    position: absolute;
    max-width: 700px;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.tab-content .fa-star {
    --fa-border-width: 20px;
    --fa-border-style: solid;
    --fa-border-color: yellow;
    color: yellow;
}

.tab-content .fa-star:hover {
    color: yellow;
    cursor: pointer;
}

.comment-feedback a {
    margin: auto 10px;
    position: relative;
    color: #039a3b;
}

.comment-date {
    margin-left: 8px;
}

.comment-feedback .comment-like:hover {
    color: rgba(0, 17, 255, 0.692);
}

.comment-feedback .comment-report:hover {
    color: red;
}

.comment-feedback a::after {
    content: "";
    position: absolute;
    right: -13px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #969696;
}

.rate-popup-head {
    text-align: center;
    font-size: 18px;
}

.name-product {
    font-weight: 700;
}

.rate-popup-quality {
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0;
}

.title-quality {
    display: inline-block;
    margin-right: 10px;
}

.star-quality {
    font-size: 22px;
}

.content-comment-popup input {
    display: block;
    margin-bottom: 20px;
    border-color: rgba(0, 0, 0, 0.1);
    line-height: 20px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

.content-comment-popup textarea {
    height: 200px;
    line-height: 25px;
    border-color: rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    resize: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

.content-comment-popup input:focus {
    outline: rgba(0, 0, 0, 0.1);
}

.content-comment-popup .send-comment {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}


/*===============================SECTION BANNER=================================*/

.banner .owl-nav .owl-prev {
    left: 10px;
}

.banner .owl-nav .owl-next {
    right: 10px;
}


/*===============================SECTION FACULTY=================================*/

.faculty {
    padding: 10px 0 40px 0;
}


/*===============================SECTION ABOUT=================================*/

.about .row {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.about .title-text {
    margin-bottom: 40px;
}

.about .col-lg-7 {
    color: #fff;
    padding: 15px;
    background-color: #039a3b;
    border-radius: 10px;
}

.about .title {
    text-align: center;
    font-style: italic;
    position: relative;
    padding-bottom: 20px;
    background: url(../medias/hd1.png) no-repeat scroll center bottom 15px;
}


/*===============================SECTION SERVICE=================================*/

.service .item {
    border: 1px solid #ddd;
    border-radius: 15px;
    min-height: 280px;
    padding-top: 10px;
}

.service h3 {
    text-transform: uppercase;
    font-size: 15px;
    color: #039a3b;
    margin-bottom: 6px;
}

.service .card-body {
    background: none;
}

.service p {
    line-height: 18px;
    color: #888;
    margin-bottom: 5px;
}

.service img {
    margin: auto;
    max-height: 86px;
    max-width: 86px;
}


/*===============================SECTION REGISTER=================================*/

.register {
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../medias/bg-dangkytuvan.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.register .container {
    margin-bottom: 40px;
}

.register .text {
    display: inline-block;
}

.register .image {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.register img {
    margin: auto 0;
    display: block;
}

.register h3 {
    align-self: start;
    color: #fff;
    margin: 0px 0px 6px;
    font-size: 40px;
    line-height: 40px;
}

.register p {
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: 0.1px;
}

.register .text {
    color: #fff;
}

.register .text-center a {
    background-color: rgb(2, 123, 47);
    border: 1px solid #039a3b;
}

.register .text-center a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #039a3b;
}


/*===============================SECTION COMMENT=================================*/

.comment .card-head {
    padding: 10px 10px 20px 15px;
    display: flex;
    flex-direction: row;
    background-color: #039a3b;
}

.comment .item img {
    width: 90px;
    height: 90px;
    border-radius: 300px;
    border: 2px solid #fff;
    margin-right: 10px;
}

.card-head {
    position: relative;
}

.card-head .fa {
    color: #fff;
}

.comment .card-head::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.card {
    padding: 0 5px;
    border: none;
}

.card-body {
    margin-top: 5px;
    background-color: #eee;
}

.card-head {
    color: #fff;
}

.position {
    font-style: italic;
}

.star i {
    letter-spacing: -1px;
}


/*===============================SECTION STEP=================================*/

.step.container {
    margin-bottom: 0;
    padding-bottom: 0;
}

.step img {
    margin: auto;
    margin-top: 20px;
}

.step p {
    line-height: 20px;
}

.step .card-body {
    background: transparent;
}

.step .card-title {
    text-transform: uppercase;
    font-size: 18px;
}


/*===============================SECTION PRODUCT=================================*/

.product.container {
    padding-top: 10px;
}

.product .carousel {
    margin-left: 10px;
}

.product .title-text {
    margin-bottom: 40px;
}

.product img {
    border: 1px solid #ccc;
}

.product .sale-flash {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    width: 46px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background-color: #039a3b;
}

.reduce .card-head .card-img--overlay {
    display: block;
}

.reduce .sale-flash {
    display: block;
}

.card-img--overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 2;
}

.card-head {
    position: relative;
}

.card-thumbnail {
    z-index: 1;
}

.modal.cart {
    padding-top: 60px;
    right: 0;
    bottom: 0;
}

.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-add-cart {
    display: none;
    top: 50%;
    padding: 20px;
    position: absolute;
    width: 860px;
    border-radius: 5px;
    border: 2px solid #039a3b;
    background: #fff;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-quickview {
    display: none;
    top: 50%;
    padding: 20px;
    position: absolute;
    width: 990px;
    border-radius: 5px;
    border: 2px solid #0f0f0f;
    background: #fff;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-quickview .item-image {
    width: 38%;
}

.popup-quickview .item-image img {
    width: 100%;
    margin: 6px;
    border: none;
}

.popup-quickview .item-name {
    font-size: 25px;
    color: #039a3b;
}

.popup-quickview .item-info {
    width: 60%;
    margin-left: 15px;
}

.popup-quickview .item-info span {
    display: inline;
    font-weight: 400;
}

.popup-quickview .item-status,
.popup-quickview .item-status {
    width: 100%;
    text-align: left;
    display: block;
}

.popup-quickview .item-status * {
    display: inline-block;
}

.product-desc a {
    line-height: 35px;
}

.popup-quickview .item-detail {
    line-height: 20px;
    margin-top: 15px;
    max-height: 90px;
    overflow: hidden;
    color: #898989;
    border-top: solid 1px #ebebeb;
    padding-top: 13px;
}

.popup-quickview .item-more {
    border-bottom: 1px dotted #333;
}

.popup-quickview .number-products {
    display: inline-block;
    border: 1px solid #ddd;
    font-size: 20px;
    min-width: 100px;
}

.popup-quickview .number-products button,
.popup-quickview .number-products input {
    line-height: 36px;
    border: none;
    outline: none;
    margin-top: 0;
    height: 40px;
}

.popup-quickview .number-products button {
    font-size: 20px;
    font-weight: bold;
    opacity: .4;
}

.popup-quickview .btn {
    margin-left: 5px;
    color: #fff;
    background-color: #039a3b;
    padding: 8px 30px;
}

.content-cart-head {
    text-align: center;
    text-transform: uppercase;
}

.content-cart-head div {
    padding: 6px 10px;
    background: #f7f7f7;
    border: 1px solid #ddd;
}

.title-popup-cart {
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 300;
}

.cart-popup-quantity {
    font-size: 17px;
    padding-bottom: 10px;
    display: block;
}

.cart-popup-quantity .fa-shopping-cart {
    font-size: 25px;
}

.cart-popup-quantity:hover .fa-caret-right {
    color: #039a3b;
}

.cart-popup-quantity .fa-caret-right {
    color: #000;
}

.content-cart-body {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-top: none;
    width: 100%;
    overflow-y: scroll;
    max-height: 280px;
}

.content-cart-body::-webkit-scrollbar {
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
}

.content-cart-body::-webkit-scrollbar-thumb {
    height: 4px;
    background: rgba(0, 0, 0, 0.8);
}

.item-info {
    padding: 6px 15px;
}

.item-product {
    width: 100%;
}

.item-remove .fa-times {
    margin-right: 5px;
    color: black;
}

.item-remove:hover {
    color: #039a3b;
    cursor: pointer;
}

.item-remove:hover .fa-times {
    color: #039a3b;
    cursor: pointer;
}

.item-product .price {
    margin-top: 10px;
    display: block;
}

.item-image,
.item-product .price,
.number-products,
.price-total {
    width: 15%;
    text-align: center;
}

.item-image img {
    width: 80%;
    margin: 10% auto;
}

.item-info {
    float: left;
    width: 40%;
}

.add-number,
.choice-number,
.sub-number {
    border: 1px solid #ddd;
    background: #fff;
    height: 24px;
    margin-top: 10px;
    width: 23px;
    text-align: center;
    vertical-align: top;
    padding: 0;
}

.add-number:focus,
.sub-number:focus {
    border: 1px solid #ddd;
}

.choice-number {
    outline: none;
}

.fa-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    background: #039a3b;
    color: #fff;
    padding: 9px;
    border-radius: 100px;
    cursor: pointer;
}

.cart-footer-1 {
    margin: 10px 0;
    font-weight: 700;
}

.cart-footer-1 .right u {
    color: #039a3b;
}

.btn {
    background: #039a3b;
    color: #fff;
}

.cart-footer-2 .left {
    color: #039a3b;
}

.cart-footer-2 .left:hover {
    color: black;
}

.cart-footer-2 .left:hover .fa-caret-left {
    color: black;
}

.c .cart-footer-2 .btn .fa-long-arrow-right {
    color: #fff;
}

.quick-view,
.add-cart {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 3;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #039a3b;
    transition: .5 s ease;
    animation: slide-in .2s linear;
}

@keyframes slide-in {
    from {
        opacity: .2;
        width: 0;
    }
    to {
        opacity: 1;
        width: 45px;
    }
}

.quick-view {
    left: 0;
}

.add-cart {
    right: 0;
}

.card-head:hover .quick-view,
.card-head:hover .add-cart {
    display: block;
    width: 45px;
    opacity: 1;
}

.product .card-head a i {
    color: #fff;
}

.product .card-body {
    padding: 15px 0;
    background: transparent;
}

.product .card-body h3 {
    font-size: 14px;
}

.price {
    display: inline-flex;
    color: #039a3b;
    font-weight: 600;
}

.cost {
    color: #039a3b;
    font-size: 16px;
    font-weight: 600;
    display: inline;
}

.old-price {
    display: none;
    text-decoration: line-through;
    font-size: 15px;
    color: #999;
}


/*===============================SECTION NEWS=================================*/

.news {
    margin-bottom: 0;
    padding-bottom: 40px;
}

.news .card-head {
    background-color: #039a3b;
}

.news img:hover {
    opacity: 0.6;
}

.news .card-title {
    color: #039a3b;
}

.news a.card-title:hover {
    color: #555;
}

.news h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.news .card-date {
    position: absolute;
    top: 0;
    width: 50px;
    text-align: center;
    padding: 2px 10px;
    background-color: #039a3b;
    line-height: 30px;
}

.news .card-date div:first-child {
    font-weight: 700;
    border-bottom: 1px solid #fff;
}


/*===============================FOOTER=================================*/

.footer .row {
    flex-wrap: wrap;
}

.footer-slide {
    background-color: #333;
    color: #fff;
    padding-top: 55px;
    padding-bottom: 30px;
}

.footer-slide a {
    color: #fff;
}

.footer-slide .row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer-widget p {
    max-width: 450px;
    margin-top: 15px;
}

.footer-widget h4 {
    color: #00792d;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.footer-widget .fa-plus {
    position: absolute;
    right: 10px;
    display: none;
}

.fa-plus.sub::before {
    content: '\f2d1';
}

.list-row i {
    width: 30px;
    height: 30px;
    font-size: 17px;
    color: #cdcdcd;
}

.list-row a :hover {
    color: #039a3b;
}

.list-col-toggle {}

.list-col {
    margin-bottom: 15px;
    line-height: 1.71429em;
}

.list-col li:hover {
    transition: .3s;
    padding-left: 5px;
    animation: 3s slide-right linear 0.5s;
}

@keyframes slide-right {
    from {
        opacity: .5;
    }
    to {
        opacity: 1
    }
}

.list-col li:hover a {
    color: rgb(97, 252, 155);
}

.copyright {
    line-height: 43px;
    text-align: center;
    color: #fff;
    background-color: #039a3b;
}

.provided::before {
    content: "|";
    margin: 0 3px;
}

.provided a {
    color: #fff;
    font-weight: 700;
}


/*===============================RESPONSIVE==============================*/

@media (min-width: 1200px) {
    .service .card {
        border-radius: 15px;
        width: 24%;
        padding: 10px;
    }
    .col-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (max-width:1125px) {
    .card .card-head .quick-view,
    .card .card-head .add-cart {
        display: none;
    }
    .card.col-12 .card-head .quick-view {
        display: none;
    }
    .card.col-12 .card-head button {
        display: block;
    }
}

@media(min-width:992px) {
    .hidden-lg {
        display: none;
    }
    .main-nav .nav-scale {
        display: none;
    }
    .filter-mb {
        display: none;
    }
    .logo.fixed-top {
        display: none;
    }
}

@media (max-width: 991px) {
    .logo {
        background-color: #fff;
    }
    .logo img {
        max-height: 55px;
    }
    .hidden-lg {
        display: block;
    }
    .header .nav {
        display: none;
    }
    .site-footer .footer-inner .col-sm-6:nth-child(2n+1) {
        clear: both;
    }
    .filter_table {
        position: fixed;
        z-index: 1001;
        top: 0;
        right: 0;
        width: max-content;
    }
    .filter {
        display: none;
    }
    .filter.active {
        display: block;
        width: 250px;
        padding: 0;
        border-radius: 10px;
        height: 95vh;
        right: 0;
        position: absolute;
        overflow-y: scroll;
        background-color: white;
    }
    .filter-mb {
        display: block;
        position: absolute;
        right: 15px;
        top: calc(50vh - 70px);
    }
    .filter-mb.opened {
        right: 250px;
    }
    .filter-mb.opened .fa-filter::before {
        content: "\f00d";
        font-size: 20px;
        font-family: FontAwesome;
    }
    .col-mg-lf {
        margin-left: 0;
    }
    .header_banner {
        display: none;
    }
    .menu_bar--mobile {
        color: rgb(97, 252, 155);
        font-size: 22px;
        cursor: pointer;
        line-height: 56px;
        margin-left: 50px;
    }
    .nav.hidden-lg {
        text-align: left;
        border: 1px solid #cdcdcd;
        position: absolute;
        z-index: 4;
        background-color: #fff;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 300px;
    }
    .nav_link--slide li a {
        margin-left: 20px;
        width: 100%;
    }
    .nav_link i {
        height: 30px;
        line-height: 30px;
    }
    .nav.hidden-lg a {
        display: block;
        width: 100%;
        color: #000;
        border-bottom: 1px dashed #cdcdcd;
    }
    .nav.hidden-lg a:hover {
        color: rgb(97, 252, 155);
    }
    .detail-product {
        flex-direction: column;
    }
    .register p {
        font-size: 12px;
        letter-spacing: -0.5px;
        word-spacing: -0.5px;
    }
}

@media(max-width:767px) {
    .container {
        max-width: 100%;
    }
    .nav-tabs {
        flex-direction: column;
    }
    .nav-tabs li a {
        display: block;
        padding: 0 15px;
    }
    .header_topbar .left {
        display: none;
    }
    .product-sort .btn {
        display: none;
    }
    .card.col-12 {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .card.col-12 .card-head {
        max-width: 100%;
    }
    .card.col-12 button {
        top: calc(100% + 120px);
        left: 0;
    }
    .register .text h3 {
        font-size: 26px;
    }
    .register img {
        max-height: 20px;
    }
    .footer-widget {
        margin-bottom: 20px;
    }
    .footer-widget .fa-plus {
        display: inline;
    }
    .list-col {
        margin-bottom: 15px;
        line-height: 1.71429em;
        display: none;
    }
    .list-col.active {
        display: block;
    }
    .rating-filter-mb {
        display: block;
        position: relative;
    }
    .rate-table-choice {
        display: none;
        position: absolute;
        background-color: #fff;
        text-align: left;
        padding: 10px;
        width: 200px;
        top: 40px;
        line-height: 20px;
        left: 0;
        cursor: pointer;
        color: #000;
        z-index: 1;
        border: 1px solid rgba(2, 123, 47, .5);
    }
    .rate-table-choice input {
        margin-right: 10px;
    }
    .rate-table-choice.active {
        display: block;
    }
    .rating-filter {
        display: none;
    }
    .rating-filter.active {
        display: flex;
    }
}

@media(max-width:600px) {
    .register .item {
        width: 100%;
        max-width: 258px;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .main-nav .container {
        padding: 0;
    }
    .col-sm {
        flex: 1 0 0%;
    }
    .row-cols-sm-auto>* {
        flex: 0 0 auto;
        width: auto;
    }
    .row-cols-sm-1>* {
        flex: 0 0 auto;
        width: 100%;
    }
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
    .row-cols-sm-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .row-cols-sm-4>* {
        flex: 0 0 auto;
        width: 25%;
    }
    .row-cols-sm-5>* {
        flex: 0 0 auto;
        width: 20%;
    }
    .row-cols-sm-6>* {
        flex: 0 0 auto;
        width: 16.6666666666%;
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.6666666666%;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: 8.3333333333%;
    }
    .offset-sm-2 {
        margin-left: 16.6666666666%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.3333333333%;
    }
    .offset-sm-5 {
        margin-left: 41.6666666667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.3333333333%;
    }
    .offset-sm-8 {
        margin-left: 66.6666666667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.3333333333%;
    }
    .offset-sm-11 {
        margin-left: 91.6666666667%;
    }
    .g-sm-0,
    .gx-sm-0 {
        --bs-gutter-x: 0;
    }
    .g-sm-0,
    .gy-sm-0 {
        --bs-gutter-y: 0;
    }
    .g-sm-1,
    .gx-sm-1 {
        --bs-gutter-x: 0.25rem;
    }
    .g-sm-1,
    .gy-sm-1 {
        --bs-gutter-y: 0.25rem;
    }
    .g-sm-2,
    .gx-sm-2 {
        --bs-gutter-x: 0.5rem;
    }
    .g-sm-2,
    .gy-sm-2 {
        --bs-gutter-y: 0.5rem;
    }
    .g-sm-3,
    .gx-sm-3 {
        --bs-gutter-x: 1rem;
    }
    .g-sm-3,
    .gy-sm-3 {
        --bs-gutter-y: 1rem;
    }
    .g-sm-4,
    .gx-sm-4 {
        --bs-gutter-x: 1.5rem;
    }
    .g-sm-4,
    .gy-sm-4 {
        --bs-gutter-y: 1.5rem;
    }
    .g-sm-5,
    .gx-sm-5 {
        --bs-gutter-x: 3rem;
    }
    .g-sm-5,
    .gy-sm-5 {
        --bs-gutter-y: 3rem;
    }
}